body
{
    position  : fixed;
    margin    : 0%;
    width     : 100%;
    height    : 50%;
    background-image: url(./Fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.FundoEntrar
{
    background-image: url(infantis.jpg);
    background-size: 100%;
}

nav
{
    position: fixed;
    width   : 70%;
    height  : 10%;
    left    : 60%;
    top     : 0%;
}

td
{
    padding: 2px;
    font-family: Aparajita;
    font-size: 250%;
    color: white;
    border-color: black;
}

td:hover
{
    padding: 0px;
    border: 2px solid white;
    border-radius: 30%;
}

.cima
{
    text-decoration: none;
    color: white;
}

.img
{
    background     : url("./Fundo.png") no-repeat;
    background-size: 100%;
    position       : fixed;
    top            : 0%;
    left           : 0%;
    height         : 100%;
    width          : 105%;
}

.imgLogo
{
    background     : url("./LogoCorreto.png") no-repeat;
    position       : fixed;
    top            : 0%;
    left           : 10%;
    height         : 79px;
    width          : 74px;
}

.barra
{
    position: fixed;
    color   : white;
    width   : 100%;
    top     : 9%;
    left    : 0%;
}

.tabelaCadastro
{
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 75%;
    background-color: white;
    color: black;
}

.entrar
{
   background-size: 100%;
   background-size: 100%;
   position       : absolute;
   top            : 100%;
   left           : 100%;
   width          : 30%;
   height         : 100%;
}

#Usuario
{
    position        : fixed;
    top             : 55%;
    left            : 39%;
    background-color: white;
}

#Usuario2
{
    position        : fixed;
    top             : 36%;
    left            : 39%;
    background-color: white;
}

#Senha
{
    position        : fixed;
    top             : 68%;
    left            : 39%;
    background-color: white;
}

#Senha2
{
    position        : fixed;
    top             : 57%;
    left            : 39%;
    background-color: white;
}

#Nome
{
    position        : fixed;
    top             : 29%;
    left            : 39%;
    background-color: white;
}

#Email
{
    position        : fixed;
    top             : 42%;
    left            : 39%;
    background-color: white;
}

.usu
{
  position   : fixed;
  top        : 50%;
  left       : 40%;
  font-size  : 130%;
  font-family: Arial;
  color      : black;  
}

.usu2
{
  position   : fixed;
  top        : 30%;
  left       : 40%;
  font-size  : 130%;
  font-family: Arial;
  color      : black;  
}

.senha
{
  position   : fixed;
  top        : 63%;
  left       : 40%; 
  font-size  : 130%;
  font-family: Arial;
  color      : black;   
}

.senha2
{
  position   : fixed;
  top        : 51%;
  left       : 40%; 
  font-size  : 130%;
  font-family: Arial;
  color      : black;   
}

.registro
{
    position   : fixed;
    top        : 63%;
    left       : 51%;
    font-size  : 90%;
    font-family: Arial;
    color      : black;
    text-decoration: underline;
}

.email
{
  position   : fixed;
  top        : 37%;
  left       : 40%;
  font-size  : 130%;
  font-family: Arial;
  color      : black;  
}

.nom
{
  position   : fixed;
  top        : 24%;
  left       : 40%;
  font-size  : 130%;
  font-family: Arial;
  color      : black;  
}

.esqueceu
{
    position   : fixed;
    top        : 63%;
    left       : 39%;
    font-size  : 90%;
    font-family: Arial;
    color      : black;
    text-decoration: underline;
}

#txtUsuario
{
    background-color: oldlace;
    padding-left    : 5px;
    font-size       : 18px;
    border          : none;
    height          : 32px;
    width           : 350px;
}

#txtSenha
{
    background-color: oldlace;
    padding-left    : 5px;
    font-size       : 18px;
    border          : none;
    height          : 32px;
    width           : 350px;
}

#txtNome
{
    background-color: oldlace;
    padding-left    : 5px;
    font-size       : 18px;
    border          : none;
    height          : 32px;
    width           : 350px;
}

#txtEmail
{
    background-color: oldlace;
    padding-left    : 5px;
    font-size       : 18px;
    border          : none;
    height          : 32px;
    width           : 350px;
}

.btnEntrar
{
    position        : fixed;
    width           : 15%;
    top             : 76%;
    left            : 42%;
    height          : 6%;
    border-radius   : 0% 10%;
    color           : black;
    background-color: skyblue;
    font-family     : Arial;
    font-weight     : bold;
    font-size       : 150%; 
    line-height     : 47.33px;
    text-decoration : none;
    text-align      : center;
}

.btnCadastrar
{
    position        : fixed;
    width           : 15%;
    top             : 85%;
    left            : 42%;
    height          : 6%;
    border-radius   : 0% 10%;
    color           : black;
    background-color: skyblue;
    font-family     : Arial;
    font-weight     : bold;
    font-size       : 150%; 
    line-height     : 47.33px;
    text-decoration : none;
    text-align      : center;
}
